.history {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 40px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1650px) {
  .history {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .history {
    text-align: center;
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 650px) {
  .history {
    text-align: center;
    padding: 40px 10px;
  }
}
.history img {
  width: 600px;
  float: left;
  border-style: none;
  vertical-align: middle;
}
@media only screen and (max-width: 1350px) {
  .history img {
    width: 500px;
  }
}
@media only screen and (max-width: 1150px) {
  .history img {
    width: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .history img {
    max-width: 90%;
    float: none;
  }
}
.history .history_container {
  width: calc(100% - 600px);
  float: left;
  padding: 20px 25px;
}
@media only screen and (max-width: 1350px) {
  .history .history_container {
    width: calc(100% - 500px);
  }
}
@media only screen and (max-width: 1150px) {
  .history .history_container {
    width: calc(100% - 400px);
  }
}
@media only screen and (max-width: 1000px) {
  .history .history_container {
    width: 80%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 850px) {
  .history .history_container {
    width: 95%;
  }
}
@media only screen and (max-width: 650px) {
  .history .history_container {
    padding: 10px 5px;
  }
}
.history .history_container table {
  width: 100%;
  border: 1px hidden rgb(245, 198, 94);
  text-align: center;
  box-shadow: rgb(245, 198, 94) 0px 20px 30px -10px;
  transform: translateY(80px);
  border-collapse: collapse;
}
@media only screen and (max-width: 1000px) {
  .history .history_container table {
    transform: translateY(0px);
  }
}
.history .history_container table thead th {
  text-align: center;
  padding: 7px;
  background-color: rgb(120, 120, 120);
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  font-size: 25px;
}
@media only screen and (max-width: 650px) {
  .history .history_container table thead th {
    font-size: 22px;
  }
}
.history .history_container table tbody:nth-child(2n) {
  background-color: rgba(180, 180, 180, 0.5);
}
.history .history_container table tbody tr {
  transition: all 0.2s ease 0s;
}
.history .history_container table tbody tr:hover {
  background-color: rgba(180, 180, 180, 0.8);
}
.history .history_container table tbody tr td {
  text-align: center;
  padding: 10px;
}
@media only screen and (max-width: 650px) {
  .history .history_container table tbody tr td {
    font-size: 14px;
  }
}