* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dancing Script", cursive;
  font-size: 14px;
  line-height: 1.5715;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    nav {
      height: 70px;
      width: 100%;
      background-color: rgb(129, 212, 250);
      display: flex;
      align-items: center;
      @media only screen and (max-width: 650px) {
        height: fit-content;
      }
      a {
        background-color: transparent;
        color: #1890ff;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        transition: color 0.3s;
        h1 {
          font-family: "Dancing Script", cursive;
          transform: translateY(5px);
          margin-left: 20px;
          font-weight: bold;
          font-size: 32px;
          color: white;
        }
      }
      .links_nav {
        margin-left: auto;
        margin-right: 20px;
        a {
          color: white;
          font-family: "Dancing Script", cursive;
          font-size: 24px;
          padding: 15px;
          margin-left: 40px;
          transition: all 0.4s ease 0s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            color: rgb(245, 198, 94);
          }
          @media only screen and (max-width: 1000px) {
            font-size: 22px;
            margin-left: 30px;
          }
          @media only screen and (max-width: 800px) {
            font-size: 20px;
            margin-left: 20px;
          }
          @media only screen and (max-width: 700px) {
            font-size: 19px;
            margin-left: 10px;
          }
          @media only screen and (max-width: 650px) {
            display: block;
            padding: 3px 5px;
            font-size: 18px;
          }
        }
      }
    }
    .main {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 150px;
      @media only screen and (max-width: 1750px) {
        padding-top: 130px;
        width: 85%;
      }
      @media only screen and (max-width: 1500px) {
        padding-top: 110px;
        width: 95%;
      }
      @media only screen and (max-width: 1200px) {
        padding-top: 90px;
        width: 100%;
      }
      @media only screen and (max-width: 1050px) {
        padding-top: 40px;
        text-align: center;
      }
      & > img {
        width: 600px;
        float: left;
        transform: translateY(-65px);
        @media only screen and (max-width: 1050px) {
          float: none;
          width: 350px;
          max-width: 90%;
          transform: translateY(0px);
        }
      }
      .input_section {
        width: calc(100% - 600px);
        float: left;
        transition: all 0.2s ease 0s;
        padding: 40px 50px;
        @media only screen and (max-width: 1050px) {
          float: none;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          padding: 35px 45px;
        }
        @media only screen and (max-width: 850px) {
          width: 90%;
          padding: 30px 40px;
        }
        @media only screen and (max-width: 650px) {
          width: 100%;
          padding: 20px 30px;
        }

        h1 {
          font-family: "Dancing Script", cursive;
          font-size: 40px;
          margin-bottom: 30px;
          @media only screen and (max-width: 1050px) {
            font-size: 35px;
          }
          @media only screen and (max-width: 850px) {
            font-size: 32px;
          }
          @media only screen and (max-width: 650px) {
            font-size: 28px;
          }
        }
        .input {
          width: 100%;
          position: relative;
          img {
            color: #81d4fa;
            font-size: 27px;
            left: 8px;
            position: absolute;
            top: 14px;
            height: 1em;
            color: #81d4fa;
          }
          input {
            width: 100%;
            padding: 13px 40px 13px 45px;
            border: 1px solid rgb(129, 212, 250);
            outline: none;
            transition: all 0.2s ease 0s;
            font-size: 17px;
            border-radius: 5px;
            margin-bottom: 30px;
            letter-spacing: 0.5px;
            word-spacing: 1px;
            box-shadow: rgba(129, 212, 250, 0.45) 0px 5px 15px;
            line-height: inherit;
          }
          span {
            font-size: 17px;
            position: absolute;
            z-index: 1000;
            top: 13px;
            right: 15px;
            font-family: "Arvo", serif;
            color: rgb(140, 140, 140);
          }
        }
        button {
          width: 100%;
          padding: 4px;
          border: none;
          font-family: "Dancing Script", cursive;
          color: white;
          font-weight: 800;
          font-size: 25px;
          border-radius: 5px;
          background-color: rgb(129, 212, 250);
          transition: all 0.2s ease 0s;
        }
      }
    }
    .info {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 150px;
      @media only screen and (max-width: 1750px) {
        padding-top: 130px;
        width: 85%;
      }
      @media only screen and (max-width: 1500px) {
        padding-top: 110px;
        width: 95%;
      }
      @media only screen and (max-width: 1200px) {
        padding-top: 90px;
        width: 100%;
      }
      @media only screen and (max-width: 1050px) {
        padding-top: 40px;
        text-align: center;
      }
      .info_container {
        display: inline-block;
        img {
          width: 750px;
          float: left;
          transform: translateY(-70px);
          @media only screen and (max-width: 1550px) {
            width: 600px;
          }
          @media only screen and (max-width: 1300px) {
            width: 500px;
            transform: translateY(0px);
          }
          @media only screen and (max-width: 1050px) {
            float: none;
            width: 350px;
            max-width: 90%;
          }
        }
        .text {
          width: calc(100% - 750px);
          float: left;
          padding: 40px 30px;
          transform: translateY(40px);
          @media only screen and (max-width: 1750px) {
            padding: 40px 30px;
          }
          @media only screen and (max-width: 1550px) {
            width: calc(100% - 600px);
          }
          @media only screen and (max-width: 1300px) {
            width: calc(100% - 500px);
          }
          @media only screen and (max-width: 1050px) {
            float: none;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 35px 25px;
          }
          @media only screen and (max-width: 850px) {
            width: 90%;
            padding: 30px 20px;
          }
          @media only screen and (max-width: 650px) {
            width: 100%;
            padding: 20px 10px;
          }

          h1 {
            @media only screen and (max-width: 1550px) {
              font-size: 36px;
            }
            @media only screen and (max-width: 1050px) {
              font-size: 32px;
            }
            @media only screen and (max-width: 850px) {
              font-size: 28px;
            }
            @media only screen and (max-width: 650px) {
              font-size: 24px;
            }
            font-size: 40px;
            margin: 0px;
            font-family: "Dancing Script", cursive;
          }
          h2 {
            &:nth-child(2) {
              @media only screen and (max-width: 1550px) {
                font-size: 32px;
              }
              @media only screen and (max-width: 1050px) {
                font-size: 28px;
              }
              @media only screen and (max-width: 850px) {
                font-size: 24px;
              }
              @media only screen and (max-width: 650px) {
                font-size: 22px;
              }
              font-size: 35px;
              margin: 0px;
              font-family: "Dancing Script", cursive !important;
            }
            &:nth-child(3) {
              @media only screen and (max-width: 1550px) {
                font-size: 20px;
              }
              font-family: Arvo, serif;
              font-size: 22px;
              margin-top: 20px;
              color: rgba(0, 0, 0, 0.85);
              font-weight: 500;
              margin-bottom: 0.5em;
              line-height: 1.5715;
            }
            &:last-child {
              @media only screen and (max-width: 1550px) {
                font-size: 20px;
              }
              font-family: Arvo, serif;
              font-size: 22px;
              margin-top: 20px;
              color: rgba(0, 0, 0, 0.85);
              font-weight: 500;
              margin-bottom: 0.5em;
              line-height: 1.5715;
              button {
                font-size: 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: rgb(245, 198, 94);
                border-radius: 5px;
                padding: 3px;
                margin: 0px;
                transform: translateY(1px);
              }
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      background-color: rgba(129, 212, 250, 0.6);
      padding: 5px 0px 50px;
      margin-top: auto;
      font-family: "Lato", sans-serif;
      @media only screen and (max-width: 1100px) {
        padding: 5px 0px 20px;
      }
      @media only screen and (max-width: 800px) {
        padding: 5px 0px 10px;
      }
      .links {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        text-align: center;
        @media screen and (max-width: 1400px) {
          width: 60%;
        }
        @media screen and (max-width: 1100px) {
          width: 70%;
          margin-top: 30px;
        }
        @media screen and (max-width: 800px) {
          width: 80%;
          margin-top: 20px;
        }
        @media screen and (max-width: 600px) {
          width: 90%;
          margin-top: 15px;
        }
        a {
          text-decoration: none;
          color: black;
          img {
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, 0.82), 0 2px 16px 0 #fff;
            color: rgba(0, 0, 0, 0.8);
            font-size: 40px;
            margin: 10px;
            padding: 5px;
            transition: 0.2s color, box-shadow 1s;
            height: 1em;
            width: 1em;
            box-sizing: initial;
            @media only screen and (max-width: 800px) {
              margin: 5px;
            }
            @media only screen and (max-width: 600px) {
              font-size: 35px;
              margin: 4px;
            }
            &:hover {
              opacity: 1;
              box-shadow: hsla(0, 0%, 100%, 0.82) 0px 22px 70px 4px;
            }
          }
          &:last-child {
            display: block;
            font-size: 1.4rem;
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.4);
            text-decoration: none;
            transition: all 0.2s ease 0s;
            padding: 5px;
            text-align: center;
            @media screen and (max-width: 800px) {
              margin-top: 10px;
              font-size: 1.3rem;
            }
            @media screen and (max-width: 600px) {
              font-size: 1.1rem;
            }
            span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
